*.xls
*.pdf
*.doc
*.xlsx
*.old
*.zip
*.lck
*.txp
*.tgz
*.7z

# ignore all files in the DOC/ directory
DOC/

# ignore all files in the IMPORT/ directory
IMPORT/

# ignore all files in the Runtime/ directory
Runtime/

# ignore all files in the Debug/ directory
Debug/

# ignore all files in the PATH/ directory
PATH/

# ignore all files in the PRU/ directory
PRU/

# ignore all files in the OLD/ directory
OLD/